<!DOCTYPE html>
<html lang="en">
<% USE date %>

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#"/>
    <meta charset="<% settings.charset %>"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <% IF title %>
        <title><% title %> - LectServe &alpha;</title>
        <meta property="og:title" content="<% title %> - LectServe &alpha;" />
        <meta name="twitter:title" content="<% title %> - LectServe &alpha;" />
    <% ELSE %>
        <title>LectServe &alpha;</title>
        <meta property="og:title" content="LectServe &alpha;" />
        <meta name="twitter:title" content="LectServe &alpha;" />
    <% END %>
    <link rel="stylesheet" href="<% request.uri_base %>/css/style.css"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16"/>
    <link rel="manifest" href="/manifest.json"/>
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5"/>
    <meta name="apple-mobile-web-app-title" content="LectServe"/>
    <meta name="application-name" content="LectServe"/>
    <meta name="msapplication-TileColor" content="#00a300"/>
    <meta name="msapplication-TileImage" content="/mstile-144x144.png"/>
    <meta name="theme-color" content="#ffffff"/>
    <meta name="keywords" content="lectionary,acna,rcl,advent,lent,christmas,easter,church,anglican"/>
    <meta name="author" content="Michael Wayne Arnold"/>
    <meta name="description" content="LectServe is a tool to provide the Church a way to quickly find lectionary readings for a given day.  It supports both the new ACNA Lectionary and the Revised Common Lectionary."/>
    <script async type="application/javascript" src="<% request.uri_base %>/javascripts/stats-lite-client.bundle.js"></script>

    <!--Open Graph Metadata-->
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Your daily lectionary readings…" />
    <meta property="og:site_name" content="LectServe &alpha;" />
    <meta property="og:url" content="<% request.uri_base %><% request.uri %>" />
    <meta property="og:image" content="<% request.uri_base %>/images/lectserve_og_image.jpg" />
    <meta property="og:image:url" content="<% request.uri_base %>/images/lectserve_og_image.jpg" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="fb:app_id" content="822793224590132" />

    <!-- Twitter Card Metadata-->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="Your daily lectionary readings…" />
    <meta name="twitter:url" content="<% request.uri_base %><% request.uri %>" />
    <meta name="twitter:image" content="<% request.uri_base %>/images/lectserve_og_image.jpg" />
    <meta name="twitter:creator" content="@lectserve" />
</head>

<body>
    <h1 class="banner"><a href="/" title="Return home...">LectServe &alpha;</a></h1>
    <div class="menu">
        <a href="/html/today"><img class="menu-icon" src="<% request.uri_base %>/images/ios-calendar-outline.svg" alt="Calendar"/>Daily Lectionary</a>
        <a href="/html/sunday"><img class="menu-icon" src="<% request.uri_base %>/images/ios-bookmarks.svg" alt="Open Book"/>Sunday Lectionary</a>
        <a href="/html/about"><img class="menu-icon" src="<% request.uri_base %>/images/ios-help.svg" alt="Question Mark"/>About LectServe</a>
    </div>
    <div class="miniMenu">
        <a href="/html/today" title="Today's Readings"><img class="miniIcon" src="<% request.uri_base %>/images/ios-calendar-outline.svg" alt="Calendar"/></a>
        <a href="/html/sunday" title="Sunday's Readings"><img class="miniIcon" src="<% request.uri_base %>/images/ios-bookmarks.svg" alt="Open Book"/></a>
        <a href="/html/about" title="About LectServe"><img class="miniIcon" src="<% request.uri_base %>/images/ios-help.svg" alt="Question Mark"/></a>
    </div>
    <hr/>

    <span itemscope itemtype="http://schema.org/WebSite">
        <meta itemprop="isFamilyFriendly" content="true"/>
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <meta itemprop="name" content="Michael Wayne Arnold"/>
            <meta itemprop="url" content="https://www.marmanold.com"/>
            <meta itemprop="sameAs" content="https://www.facebook.com/marmanold"/>
            <meta itemprop="sameAs" content="https://instagram.com/marmanold"/>
            <meta itemprop="sameAs" content="https://www.linkedin.com/in/marmanold"/>
            <meta itemprop="sameAs" content="https://plus.google.com/marmanold"/>
            <meta itemprop="sameAs" content="https://www.twitter.com/marmanold"/>
        </span>
        <span itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
            <meta itemprop="name" content="LectServe.com"/>
            <meta itemprop="url" content="http://www.lectserve.com"/>
            <div itemprop="logo" itemscope itemtype="https://www.schema.org/ImageObject">
              <meta itemprop="url" content="http://www.lectserve.com/favicon-32x32.png">
            </div>
        </span>
    

        <div itemprop="text" class="content">
            <% content %>
        </div>
    </span>

    <div class="footer">
        &copy;2016-<% date.format(date.now, '%Y') %>, <a href="https://www.marmanold.com/about/" title="Michael's Biography">Michael Wayne Arnold</a>
        <span class="social-footer">
                <a href="https://www.twitter.com/lectserve/" title="Follow LectServe on Twitter!"><img class="social-icon" src="/images/social-twitter.svg" alt="Social Twitter Icon" /></a>
                <a href="https://www.github.com/marmanold/" title="Check Michael Arnold out on GitHub!"><img class="social-icon" src="/images/social-github.svg" alt="Social GitHub Icon" /></a>
            </span>
    </div>
</body>

</html>
