<h2>&Alpha;lpha!</h2>
<p>Remember what I said about this being alpha quality?  Yeah... I haven't implemented this page yet.  To see the raw JSON behind the data that will power this page, <a href="/today">go here</a>.</p>
