/* Elements Determining Page Layout & Appearance*/

body {
	font-size: 1.1em;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color: black;
	background: white;
	padding: 2%;
	margin-left: 10%;
	margin-right: 10%;
}

.hidden-lit {
	display: none;
}

.search-icon {
	float: right;
	width: 1em;
	height: 1em;
}

.social-footer {
	padding-left: 1em;
}

.social-icon {
	width: 1em;
	height: 1em;
}

.menu-icon {
	width: 2em;
	height: 2em;
	vertical-align: middle;
}

.error {
	font-size: 2em;
}

.content {
	text-align: justify;
}

.element h2 {
	text-align: left;
}

.date {
	font-size: .9em;
}

.title {
	text-align: left;
}

.footer {
	padding-top: 2em;
	font-size: .8em;
}

.footer a:link {
	text-decoration: none;
	color: black;
}

.footer a:visited {
	text-decoration: none;
	color: black;
}

.footer a:hover {
	text-decoration: none;
	color: red;
}

.footer a:active {
	text-decoration: none;
	color: red;
}

.page_number {
	padding-top: 1em;
}

.pagination {
	
}

.pagination a:link {
	text-decoration: none;
	color: black;
	font-size: .7em;
}

.pagination a:visited {
	text-decoration: none;
	color:black;
}

.pagination a:hover {
	text-decoration: none;
	color:red;
}

.pagination a:active {
	text-decoration: none;
	color:red;
}

.banner {
	font-size: 2.1em;
	text-align: center;
	color: black;
}

.banner a:link {
	text-decoration: none;
	color: black;
}

.banner a:visited {
	text-decoration: none;
	color: black;
}

.banner a:hover {
	text-decoration: none;
	color: red;
}

.banner a:active {
	text-decoration: none;
	color: red;
}

/*Morning and Evening Prayer*/
.instruction {
	color: red;
	font-size: 0.9em;
	font-style: italic;
}

.prayer {
	text-align: left;
}

.poetic {
	text-align: left;
	white-space: nowrap;
	padding-bottom: 1em;
}

.reference {
	font-size: 0.9em;
	font-style: italic;
	font-weight: bold;
}

.line {
	margin: 0;
}

.indented_line {
	margin: 0;
	text-indent: 2em;
}

.dialog {

}

.dialog_line {
	display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    padding-bottom: 0.5em;
}

.person {
    -webkit-align-self: flex-start;
    align-self: flex-start;
    width: 15%;
    font-style: italic;
}

.utterance {
	margin-left: 1em;
	width: 75%;
	padding-left: 0.2em;
}

/*Flex Columns and Flex Column Containers*/
.flex-column-container {
	display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
}

.flex-column {
    width: 320px;
    height: 100%;
    margin-right: auto;
    margin-bottom: auto;
}

.left-column {
    -webkit-align-self: flex-start;
    align-self: flex-start;
}

.right-column {
    -webkit-align-self: flex-end;
    align-self: flex-end;
    border-left: thin solid black;
    padding-left: 1em;
}

.day-column {
	-webkit-align-self: flex-start;
    align-self: flex-start;
	height: 100%;
    margin-bottom: auto;
    margin-right: auto;
    width: 70%;
}

.page-column {
	-webkit-align-self: flex-start;
    align-self: flex-end;
	height: 100%;
    margin-bottom: auto;
    margin-left: auto;
    text-align: right;
    width: 30%;
    float: right;
}

/*Setting up the elements for the menu*/
.menu {
	text-align: center;
}

.menu a:link {
	text-decoration: none;
	color:black;
	padding-left: 1%;
	padding-right: 1%;
}

.menu a:visited {
	text-decoration: none;
	color:black;
}

.menu a:hover {
	text-decoration: none;
	color:red;
}

.menu a:active {
	text-decoration: none;
	color:red;
}

/*Menu used for mobile and smaller screened devices*/
.miniMenu {
	display: none;
}

/*Settings for links*/
a:link {
	text-decoration: none;
	color: red;
}

a:visited {
	text-decoration: none;
	color: red;
}

a:hover {
	text-decoration: underline;
	color: red;
}

a:active {
	text-decoration: underline;
	color: red;
}

.scripture {
    background: #e6e6e6;
    border-radius: 25px;
    padding: 1%;
}

@media only screen and (max-width: 870px) {
	.flex-column {
	    width: 100%;
	    height: 100%;
	    margin-left: auto;
	}

	.left-column {
	    -webkit-align-self: flex-start;
	    align-self: flex-start;
	}

	.right-column {
	    -webkit-align-self: flex-start;
	    align-self: flex-start;
	    border-left: none;
    	padding-left: 0px;
	}
}

@media only screen and (max-width: 730px) {
	.miniMenu {
		text-align: center;
		font-size: 2em;
		display: block;
	}

	.miniMenu a:link {
		text-decoration: none;
		color:black;
		padding-left: 1%;
		padding-right: 1%;
	}

	.miniMenu a:visited {
		text-decoration: none;
		color:black;
	}

	.miniMenu a:hover {
		text-decoration: none;
		color:red;
	}

	.miniMenu a:active {
		text-decoration: none;
		color:red;
	}

	.miniIcon {
		width: 1em;
		height: 1em;
		vertical-align: bottom;
	}

	body {
		font-size: 1em;
		margin-left: 5%;
		margin-right: 5%;
	}

	.content {
		text-align: left;
	}

	.social-footer {
		display: none;
	}

	.social-icon {
		display: none;
	}

	.search-icon {
		display: none;
	}

	.menu {
		display: none;
	}
}

@media only screen and (max-width: 529px) {
    .poetic {
        font-size: 0.75em;
        padding-bottom: 0.5em;
        text-align: left;
        white-space: nowrap;
    }
}

@media only screen and (max-width: 413px) {
    .poetic {
        font-size: 0.7em;
        padding-bottom: 0.5em;
        text-align: left;
        white-space: nowrap;
    }
}

@media only screen and (max-width: 374px) {
    .poetic {
        font-size: 0.6em;
        padding-bottom: 0.5em;
        text-align: left;
        white-space: nowrap;
    }
}


